body {
  font-family: 'Poppins', sans-serif;
  background: #f3f2ef;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
  padding: 25px;
}

h2 {
  text-align: center;
  color: #0077b5;
}

input, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background: #0077b5;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #005f8c;
}

.topbar {
  background: #0077b5;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.post {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post small {
  color: gray;
  font-size: 12px;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    margin: 30px auto;
  }

  .topbar {
    flex-direction: column;
    text-align: center;
  }
}

.post img {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.post button {
  background: #eef3f8;
  color: #333;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.post button:hover {
  background: #d6e4f0;
}
